body {

    font-family: cursive;
}

.topnav {

    overflow: hidden;
    background-image: url(fondo.jpg);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    padding-right: 10px;
    height: auto;
    text-align: center;
}
  
.links {

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition:  0.2s ease-in;
}
  
.topnav a:hover {

    background-color: #ddd;
    color: rgb(0, 0, 0);
    border-radius: 50%;
}

.tittle {

    color: white;
    position: relative;
    left: 100px;
    font-size: 300%;
}

.logo {

    float: right;
    position: relative;
    left: -5%;
    padding: 10px;
}

.topnav-3 {

    position: relative;
    top: 45px;
}

.c {

    color: aqua;
}

.huecotn {

    float: left;
    width: 25%;
    height: 1px;
}

.huecotn-2 {

    float: left;
    width: 1%;
    height: 1px;
}

.blanco1 {

    background-color: rgb(255, 255, 255);
    position: relative;
    float: left;
    width: 25%;
    height: 1px;
}

.blanco2 {

    background-color: rgb(255, 255, 255);
    float: left;
    width: 25%;
    height: 1px;
}

.dropbtn {

    width: 200px;
    border-radius: 15px;
    background-image: url(fondo.jpg);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {

    background-color: #2980B9;
}
  
.dropdown {

    position: fixed;
    left: 100px;
    display: inline-block;
}
  
.dropdown-content {

    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {

    width: 200px;
    background-image: url(fondo.jpg);
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.show {
    
    display: block;
}

.info {

    background-color: rgb(253, 253, 255);
    float: left;
    width: 50%;
    height: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

.ultb {

    margin-bottom: 50px;
}

.info h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info p {

    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-size: 20px;
}

.slideshow-container {

  max-width: 80%;
  position: relative;
  margin: auto;
}

.mySlides {

  display: none;
}

.prev, .next {

  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {

    left: 0;
}

.next {

  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {

  background-color: rgba(0,0,0,0.8);
}

.text {

  color: whitesmoke;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.bitcoin {

    color: black;
}

.numbertext {

  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {

  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.active, .dot:hover {

  background-color: #717171;
}

.fade {

  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer { 

    clear: both;
    height: 200px;
    width: auto;
}

.iconos {

    position: relative;
    top: 50px;
    padding: 10px;
    transition: 0.3s ease;
    height: 64px;
    width: 64px;
    padding-bottom: 40px;
    
}

.iconos:hover {

    padding: 20px;
    transform: rotate(360deg);
    height: 74px;
    width: 74px;
}